body{
	font-family: 'Montserrat', sans-serif;
}
.img-in-item{
	width: 100%;
}
/*bottons*/
.botton{
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	text-align: center;
}
.botton-small{	
	font-size: 8px;
	padding: .7vw 1.6vw;
	border-radius: 1vw;
	letter-spacing: .08em;
}
.botton-medium{
	font-size: 11px;	
	padding: .8vw 1.6vw;
	border-radius: 1vw;
}
.botton-big{
	font-size: 12px;
	padding: 1.2vw 1.7vw;
	border-radius: 1.6vw;
	letter-spacing: .18em;
}
.botton-xl{
	font-size: 14px;
	padding: 1.2vw 2.7vw;
	border-radius: 1.6vw;	
}
.botton-align{
	font-size: 12px;
	border: 2px solid #DDCEB3;
	padding: 1.1vw 2.4vw;
	border-radius: 1.6vw;
	margin: 1vw auto 3.3vw;
}
.botton-width174{
	width: 174px;
	font-size: 13px;
	text-align: center;
	padding: 1.1vw 0;
	border-radius: 1.25vw;
}
.botton-black{
	color: white;
	background-color: black;
}
.botton-white{
	color: black;
	background-color: white;
}
.main-block-botton{
	color: #353535;
	font-size: 14px;
	padding: 16px 32px;
	transform: rotate(-90deg);
	position: absolute;
	top: calc(50% - 25px);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .18em;
}
.main-botton-prev1{
	background-color: #AFAFAF;
	left: -9vw;
}
.main-botton-next1{
	background-color: #D7D7D7;
	right: -9vw;
}
.botton-circle{
	position: absolute;
	top: calc(50% - 50px);
	width: 48px;
	height: 48px;
	border: 2px solid #D9D9D9;
	border-radius: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.botton-circle-prev{
	left: -70px;
}
.botton-circle-next{
	right: -70px;
}
/*header*/
.header-top{
	display: flex;
	align-items: baseline;
	margin: 36px 54px 26px 108px;
}
.logo{
	display: inline-flex;
	flex-direction: column;	
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	
	letter-spacing: .05em;
}
.logo > span:first-child{
	font-size: 28px;
	font-weight: 800;
	line-height: 1em;
}
.logo > span:last-child{
	font-size: 12px;
	line-height: 1em;
}
.menu-top{
	margin: 0 2vw 0 11.5vw;
	width: 660px;
}
.menu{
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	width: 100%;
}
.menu-column{
	flex-direction: column;
	align-items: flex-start;
}
.menu-column-aside{
	flex-direction: column;
	height: 100%;
}
.menu li{
	margin: 0 1vw;
}
.menu a{
	text-decoration: none;
}
.menu a:hover{
	text-decoration: underline;
}
.menu-column-flexstart{
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;
	align-items: flex-start;
}
.menu-top a{
	text-transform: uppercase;
	color: #1A1A1A;
	font-size: 12px;
	font-weight: 300;
}
.bottons-top{
	margin-left: auto;
	width: 100px;
}
.header-main{
	display: flex;
	background-color: #ededed;
	margin-bottom: 80px;
}
.header-main-aside{
	height: 312px;
	margin: 14.4vw auto 0;
}
.text-vertical{
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	font-size: 10px;
	font-weight: 600;
	color: #121212;
	text-transform: uppercase;
	line-height: 1.5em;
}
.header-main-slider{
	height: 52vw;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
}
/*controller*/
.bottons-control{
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
	position: absolute;
	right: 16vw;
	z-index: 1;
	cursor: pointer;
}
.bottons-prev{
	color: white;
	top: 10.3vw;
}
.bottons-next{
	color: black;
	top: 12.5vw;
}

.slider{
	display: none;
	width: 100%;
}

.menu-top-control,
[name="slides"],
.bottons-next,
.bottons-prev{
	display: none;
}
#summer:checked ~ .slide1,
#autumn:checked ~ .slide2,
#winter:checked ~ .slide3,
#spring:checked ~ .slide4{
	display: block;	
	animation: appearance 1s;
}
@keyframes appearance{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#summer:checked ~ #autumn-next,
#summer:checked ~ #spring-prev,
#autumn:checked ~ #winter-next,
#autumn:checked ~ #summer-prev,
#winter:checked ~ #spring-next,
#winter:checked ~ #autumn-prev,
#spring:checked ~ #summer-next,
#spring:checked ~ #winter-prev{
	display: flex;
}
/*slides*/
.slide-content{
	position: relative;
	max-width: 40vw;
	margin: 9.9vw 10.4vw 3vw auto;
	animation: displacement 1s;	
}
.slide-content-background{
	background-color: rgba(201, 206, 210, .7);
}
@keyframes displacement{
	from{
		transform: translateX(500px);
	}
	to{
		transform: translateX(0);
	}
}
.slide-title{	
	font-size: 6.1vw;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 5.6vw;
	margin: 0 0 1.5vw -8px;
	letter-spacing: -0.01em;
}
.slide-number{
	font-size: 18px;
	font-weight: 600;
	margin-left: -2px;
}
.slide-typewear{
	font-size: 14px;
	margin-left: 26px;
	text-transform: uppercase;
	letter-spacing: .08em;
}
.slide-bottons{
	width: 142px;
	margin: 1.8vw 0 2.2vw 4px;
}
.slide-bottons a{
	width: 36px;
	height: 36px;
	border: 1px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slide-bottons a:first-of-type{
	background-color: black;
}
.slide-p{
	width: calc(100% - 23.5vw);
	font-family: 'Open Sans';
	font-size: 14px;
	color: #606060;
	line-height: 1.9em;
	margin-bottom: 1.9vw;
}
.slide-photo{
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
}
/*float window*/
.slider-floatwindow{
	display: flex;
	align-items: flex-start;
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url(../img/bg.png);
	max-width: 33.75vw;
	max-height: 25vw;
	min-height: 200px;
}
.slider-floatwindow-img{
	height: 25vw;
}
.specialoffer-wrap{
	display: flex;
	flex-direction: column;
	margin: .7vw 2.2vw 0;
}
.specialoffer-title{
	color: white;
	font-size: 2vw;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: .6vw;
	line-height: 1.2em;
	letter-spacing: .02em;
}
.specialoffer-text{
	color: white;
	font-family: 'Open Sans';
	font-size: 1.1vw;
	margin-top: 0;
	margin-bottom: 1.7vw;
}
.specialoffer-row{
	display: flex;
	align-items: center;
	margin-bottom: 3.3vw;
}
.oldprice{
	color: white;
	font-size: 1.1vw;
	text-decoration: line-through;
	margin-left: .4vw;
	margin-right: .6vw;
	letter-spacing: 0.03em;
}
.newprice{
	color: white;
	font-size: 2vw;
	font-weight: 700;
	margin-right: 2.5vw;
}
.specialoffer-timer{
	width: 4.7vw;
	height: 5.5vw;
	display: flex;
	flex-direction: column;
	background-color: white;
	justify-content: center;
	align-items: center;
	border-radius: 1vw;
	margin-right: 1vw;
}
.specialoffer-timer-numbers{
	font-size: 2vw;
	font-weight: 600;
	line-height: .8em;
	margin-top: 8px;
}
.specialoffer-timer-points{
	font-size: .8vw;
	letter-spacing: .06em;
	line-height: .6em;
}
.specialoffer-timer-text{
	font-size: .6vw;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: .5vw;
}
/*main part after slider*/
.main-wrap{
	max-width: 1170px;
	margin: 0 auto;
}
.menu-middle{
	max-width: 830px;
	margin: 44px auto 58px;
}
.menu-middle a{
	font-size: 19px;
	font-weight: 600;
	color: #2D2B27;
	letter-spacing: .06em;
}
.main-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 22px;
	position: relative;
}
.column170{
	width: 14.5%;
	margin: 0 auto;
}
.column270{
	width: 23%;
	margin: 0 auto;
}
.column370{
	width: 31.6%;
	margin: 0 auto;
}
.column470{
	width: 40%;
	margin: 0 auto;
}
.column570{
	width: 48.7%;
	margin: 0 auto;
	position: relative;
}
[class*="column"]:first-of-type{
	margin-left: 0;
}
[class*="column"]:last-of-type{
	margin-right: 0;
}
.column-last{
	width: 240px;
	margin-left: auto;
}
.column-stretch{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.item{
	position: relative;
}
.item1{
	position: absolute;
	bottom: 0;
	left: 16.3%;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 16px;
	letter-spacing: .07em;
}
.item3{
	position: absolute;
	top: 21%;
	left: 6.8%;
	max-width: 170px;
}
.item-name{
	font-family: Raleway, sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: #292929;
	text-transform: capitalize;	
	letter-spacing: .1em;
}
.item-name-margin8{
	margin-bottom: 8px;
}
.item-name-margin22{
	margin-bottom: 22px;
}
.item-name-definition{
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .04em;
	margin-top: 0;
	margin-bottom: 2.1vw;
}
.item-badge-new{
	position: absolute;
	top: 12px;
	right: 16px;
	width: 48px;
	height: 30px;
	background-image: url(../img/new.png);
	background-size: 100%;
	color: white;
	font-size: 11px;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
}
.item4{
	position: absolute;
	top: 23%;
	left: 8%;
	max-width: 120px;
}
.item-text{
	position: absolute;
	bottom: 16px;
	left: 22.7%;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.brandnew{
	width: 100%;
	background-image: url(../img/img6.png);
	background-size: cover;
}
.brandnew-content{
	margin: 2.7vw 13% 2.4vw auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.brandnew-name{
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .08em;
	margin: 0;
}
.brandnew-description{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .39em;
	margin-bottom: 7%;
}

.main-blocktitle{
	font-size: 26px;
	font-weight: 600;
	color: #1E1E1E;
	text-transform: uppercase;
	text-align: center;
	margin-top: 94px;
	letter-spacing: .1em;
}
.main-blocktitle-description{
	font-size: 14px;
	text-align: center;
	letter-spacing: .4em;
	margin-bottom: 46px;
}
.botton-absolute{
	position: absolute;
	bottom: 50px;
	left: calc(50% - 87px);
}
.block3-text{
	font-size: 15px;
	text-transform: capitalize;
	letter-spacing: -0.04em;
	margin: 0 0 4px;
}
.block3-bold{
	font-weight: 800;
}
.block3-light{
	color: #969696;
}
.block3-linethrough{
	text-decoration: line-through;	
	margin-right: 12px;
}
.block3-text-margin{
	margin-top: 30px;
}

.subscribe{
	width: 100%;
	background-image: url(../img/img14.png);
	background-size: cover;
}
.subscribe-content{
	margin: 2.7vw auto 2.4vw 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.subsctibe-description{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .4em;
	margin-bottom: 6%;
}

.mb-56{
	margin-bottom: 56px;
}
.column570-bottom-capture{
	width: 87%;
	position: absolute;
	bottom: -44px;
	left: 6%;
	background-color: white;
}
.column570-bottom-capture-title{
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin: 20px auto 8px;
}
.column570-bottom-capture-date{
	font-family: 'Open Sans';
	font-style: italic;
	font-size: 14px;
	color: #8F8F8F;
	display: block;
	text-align: center;
	margin-bottom: 16px;
}
.footer-main{
	margin-top: -120px;
	padding-top: 226px;
	padding-bottom: 80px;
	background-color: #F8F8F8;
}
.footer-main-columntitle{
	font-size: 15px;
	font-weight: 700;
	color: #575153;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.footer-main li{
	margin-bottom: 14px;
}
.footer-main-a{
	color: #868686;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;	
}
.end{
	margin: 36px 0 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.copy{
	text-align: center;
	color: #575153;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 44px;
}
@media(max-width: 1350px){
	.slide-content{
		max-width: 60vw;
		margin-top: 5vw;
	}
	.bottons-prev{
		top: 5vw;
	}
	.bottons-next{
		top: 7.2vw;
	}
	.main-wrap{
		max-width: 900px;
	}
}
@media(max-width: 1050px){
	.menu-top{
		margin: 0 2vw;
	}
	.header-main-aside{
		margin: auto;
	}
	.slide-content{
		max-width: 70vw;
		margin-top: 1vw;
	}
	.bottons-control{
		right: 5vw;
	}
	.bottons-prev{
		top: 1vw;
	}
	.bottons-next{
		top: 3.2vw;
	}
	.main-wrap{
		max-width: 600px;
	}
	.main-botton-prev1{
		left: -14%;
	}
	.main-botton-next1{
		right: -14%;
	}
	.item4{
		top: 5%;
	}
	.brandnew-content,
	.subscribe-content{
		margin: 2vw auto;
	}
	.brandnew-name{
		margin-top: 0;
		margin-bottom: 0;
	}
	.brandnew-description{		
		margin-bottom: 2%;
	}	
	.subscribe-name{
		margin-top: 0;
		margin-bottom: 0;
	}
	.subsctibe-description{
		margin-bottom: 2%;
	}
	.column170{
		width: 32%;
		margin: 0 auto;
	}
}
@media(max-width: 800px){
	.header-top{
		margin: 26px auto;
		align-items: center;
	}
	.header-main-slider{
		height: auto;
	}
	.header-main-aside{
		height: 250px;
		margin: auto;
	}
	.bottons-top{
		margin-right: 10px;
		width: 60px;
	}
	.bottons-control{
		right: 1vw;
	}
	.bottons-next{
		top: 5vw;
	}
	.botton-circle-prev{
		left: -50px;
	}
	.botton-circle-next{
		right: -50px;
	}

	
	.slide-content{
		max-width: 80vw;
		margin-top: 1vw;
		margin-right: calc(40px + 2vw);
		margin-left: 3vw;
	}
	.slide-p{
		width: 100%;
	}

	.slider-floatwindow{
		position: relative;
		align-items: flex-start;
		max-width: 100%;
		max-height: 100%;
	}	
	.slider-floatwindow-img{
		width: 100px;
		height: auto;
	}
	.specialoffer-wrap{
		justify-content: space-between;	
		margin: .5vw 1vw;
	}
	.specialoffer-title{
		font-size: 20px;
		margin-bottom: .6vw;
	}
	.specialoffer-text{
		font-size: 16px;
	}
	.specialoffer-row{
		justify-content: flex-end;
	}
	.oldprice{
		font-size: 12px;
	}
	.newprice{
		font-size: 16px;
	}
	.specialoffer-timer{
		width: 30%;
		height: 100%;
		margin-bottom: 2vw;
		padding: 1vw;
	}
	.specialoffer-timer-numbers{
		font-size: 16px;
	}
	.specialoffer-timer-points{
		font-size: 12px;
	}
	.specialoffer-timer-text{
		font-size: 14px;
	}

	.main-wrap{
		max-width: 80%;
	}
	.menu-middle{
		flex-direction: column;
	}
	.order-800 div:nth-child(2){
		order: 1;
	}

	.column270,
	.column370{
		width: 49%;
	}
	.column470{
		width: 100%;
	}
}
@media(max-width: 520px){
	.header-top{
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0;
	}	
	.logo{
		width: 100%;
	}

	.header-main{
		flex-direction: column;
	}
	.header-main-aside{
		height: auto;
	}
	.menu-column-aside{
		flex-direction: row-reverse;
		margin: 5px;
	}
	.text-vertical{
		-ms-writing-mode: lr-tb;
		writing-mode: horizontal-tb;
		transform: rotate(0);
	}

	.menu-top{
		display: none;
		flex-direction: column;
	}
	label.menu-top-control{
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		color: white;
		background-color: black;
		border: 1px solid black;
		padding: 5px 10px;
	}
	label.menu-top-control::after{
		content: '';
		height: 0;
		width: 0;
		position: relative;
		top: 1em;
		left: 5px;
		font-size: 14px;
		border: 7px solid transparent;
		border-top-color: white;
	}
	#gamburger:checked ~ label.menu-top-control{
		color: black;
		background-color: white;
	}
	#gamburger:checked ~ label.menu-top-control::after{
		top: auto;
		bottom: 1em;
		border-top-color: transparent;
		border-bottom-color: black;
	}
	#gamburger:checked ~ .menu-top{
		display: block;
	}

	.bottons-top{
		margin-left: 0;
	}
	.bottons-next{
		top: 7vw;
	}
	.botton-circle{
		width: 24px;
		height: 24px;
	}
	.botton-circle-prev{
		left: -26px;
	}
	.botton-circle-next{
		right: -26px;
	}

	.specialoffer-timer-numbers{
		font-size: 14px;
	}
	.specialoffer-timer-points{
		font-size: 10px;
	}
	.specialoffer-timer-text{
		font-size: 10px;
		font-weight: 400;
	}
	
	[class*="column"]{
		width: 100%;
	}
	.column570-bottom-capture{
		position: static;
	}
}